* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

border{
	background-color: #fff;
	font-size: 16px;
}

.contenedor{
	width: 90%;
	max-width: 1000px;
	background-color: darkgrey;
	margin:auto;
}

/* ----- ----- HEADER ----- ----- */

header .menu{
	margin: 40px 0;
}

header .menu a{
	margin: 0 20px;
	color:#4a3f3f;
	padding-bottom: 9px;
	font-size: 1em;
} 


